In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('data.csv', encoding='latin1')
df.head()

/tmp/ipython-input-2645862227.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv', encoding='latin1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [21]:
df.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [28]:
x = df['no2'].values.astype(float)

In [29]:
x = x[~np.isnan(x)]

In [30]:
r = 102317173
a = 0.05 * (r % 7)
b = 0.3 * ((r % 5) + 1)
a, b

(0.0, 1.2)

In [31]:
bx = np.clip(b*x, -1, 1)
z = x + a*np.arcsin(bx)

In [32]:
mu = np.mean(z)
sigma_squared = np.var(z, ddof=0)
lam = 1 / (2 * sigma_squared)
c = np.sqrt(lam / np.pi)

mu, lam, c

(np.float64(25.809622897811263),
 np.float64(0.001460436525489001),
 np.float64(0.021560876239314918))

In [33]:
print("Estimated Parameters:")
print(f"μ (mu)     = {mu}")
print(f"λ (lambda) = {lam}")
print(f"c          = {c}")

Estimated Parameters:
μ (mu)     = 25.809622897811263
λ (lambda) = 0.001460436525489001
c          = 0.021560876239314918